<%= form_for [ @post, @comment ] do |form| %>

  <div class='post-form'>
    <%= form.text_field :body, class:'post-form__input post-form__input-full' %>
    <div>
      <%= form.submit 'Submit', class:'btn btn--secondary btn--fitted' %>
    </div>
  </div>

<% end %>
