@import 'mixins/media';

.form {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &-withoutlogo {
    height: 100%;
  }

  @include media(tabletAndUp) {
    flex-direction: row;
    gap: 3rem;
  }


  &__logo {
    width: 17rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-shadow: var(--shadow-small);

    @include media(tabletAndUp) {
      margin-right: 3rem;
    }

    &-icon {
      font-size: var(--font-size-xxxxl);

      & > span {
        color: var(--color-secondary-rotate);
      }
    }

    & > p {
      font-size: var(--font-size-l);
    }
  }

  &__fields {
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-data {
      display: flex;
      flex-direction: column;
    }
  }

  &__field {
    margin: .5rem 0;
    width: 17rem;
    height: 3rem;
    padding-left: 1rem;
    border-radius: var(--border-radius);
    border: var(--border);
    outline: none;
    transition: box-shadow 250ms;
    background-color: transparent;

    &-position {
      position: relative;
    }

    &:focus ~ .form__label {
      top: 8px;
      left: 13px;
      padding: 0 .2rem;
    }

    &-btn {
      height: 3rem;
      width: 17rem;
      margin: .3rem 0;
    }
  }

  &__label {
    position: absolute;
    top: 50%;
    left: 15px;
    background-color: var(--color-background);
    color: var(--color-text-muted);
    transform: translateY(-50%);
    transition: .3s;
    pointer-events: none;

    &-notempty {
      top: 8px;
      left: 13px;
      padding: 0 .2rem;
    }
  }

  &__links {
    width: 100%;
  }
}
