<div class='profile'>
  <div class='profile-data'>
    <div class='profile-img-normal'></div>
    <div class='profile-name'>
      <%= @user.first_name %>
      <%= @user.last_name %>
    </div>
  </div>
</div>

<div id="posts">
  <% @posts.reverse_each do |post| %>
    <%= render post %>
  <% end %>
</div>
