<div class='welcome'>
  <div class='welcome__text'>
    <h1 class='welcome__text-title'>PostIt</h1>
    <a>Share with your friends what's on your mind!</a>
  </div>
  <%= link_to 'Log in', new_user_session_path, class:'btn btn--primary btn--large' %>
</div>
