<div class='welcome'>
  <div class='welcome__text'>
    <h1 class='welcome__text-title'>Post<span>It</span></h1>
    <p>Share with your friends what's on your mind!</p>
  </div>
  <%= link_to 'Log in', new_user_session_path, class:'btn btn--secondary btn--large' %>
</div>
