<div id="<%= dom_id post %>" class='post'>
  <div class='post__user'>
    <div class='profile-img profile-img-small'></div>
    <div class='post__user-name'>
      <%= post.user.first_name %>
      <%= post.user.last_name %>
    </div>
  </div>

  <div class='post__body'>
    <%= post.body %>
  </div>

</div>
