.comment {
  display: flex;
  gap: 1rem;

  &-container {
    background-color: var(--color-white);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-small);
    margin-bottom: var(--space-m);
    padding: var(--space-xs);
    display: flex;
    gap: 1rem;
  }

  &-user {
    color: var(--color-text-header);
  }

  &-date {
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
  }
}
