.dropdown {
  position: relative;

  &__button {
    font-size: 1.5rem;
    border: 0;
    background-color: transparent;
    padding: 0 .5rem;
  }

  &__menu {
    transform-origin: top right;
    position: absolute;
    right: 0;
    background-color: white;
    border: var(--border);
    border-radius: var(--border-radius);

    &-link {
      color: var(--color-text-header);
      padding: .4rem;
    }
  }
}


