.error-message {
  width: 100%;
  color: var(--color-primary);
  background-color: var(--color-primary-bg);
  padding: var(--space-xs);
  border-radius: var(--border-radius);
  margin-bottom: .5rem;

  &-green {
    color: var(--color-secondary);
    background-color: var(--color-secondary-bg);
  }
}
