@import "mixins/media";

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--space-s);
  scroll-margin-top: 5rem;

  background-color: var(--color-white);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-small);
  margin-bottom: var(--space-m);

  &__user {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: var(--space-s) 0 0 var(--space-s);

    &-name {
      margin-left: 1rem;
      font-size: var(--font-size-l);
    }
  }

  &__date {
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
  }

  &__body {
    width: 100%;
    padding: 0 var(--space-s);
    display: flex;
    flex-direction: column;

    &-likes {
      color: var(--color-text-muted);
      margin-top: .7rem;
      font-size: var(--font-size-s);
    }
  }

  &__footer {
    width: 100%;
    display: flex;
    height: 2.5rem;
    border-top: var(--border);
  }

  &__action {
    width: 50%;
    text-align: center;
    padding: var(--space-xs);
    color: var(--color-text-header);
    cursor: pointer;

    &:hover {
      color: var(--color-text-muted);
    }

    &-clicked {
      color: var(--color-secondary-rotate);
      font-weight: bold;
    }
  }

  &__line {
    height: 2.5rem;
    width: 2px;
    background-color: var(--color-light);
  }
}
