.profile-img {

  &-normal {
    background-color: var(--color-secondary);
    border-radius: 100%;
    width: 10rem;
    height: 10rem;
  }

  &-medium {
    background-color: var(--color-secondary);
    border-radius: 100%;
    width: 6rem;
    height: 6rem;
  }

  &-small {
    background-color: var(--color-secondary);
    border-radius: 100%;
    width: 3rem;
    min-width: 3rem;
    height: 3rem;
  }
}
