@import "mixins/media";

// OP - on profile

.users_list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: .5rem;

  &__OP {
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6rem, 1fr));
    grid-template-rows: repeat(auto-fit);
    gap: .5rem;

    @include media(tabletAndUp) {
      display: flex;
    }
  }
}

.user {
  height: 4rem;
  width: auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: .5rem;

  border-bottom: var(--border);

  &__OP {
    display: flex;
    justify-content: center;
    align-items: center;

    @include media(tabletAndUp) {
      width: 16.6%;
    }
  }

  &__data {
    display: flex;
    align-items: center;
    gap: .5rem;

    &__OP {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__name {
    font-size: var(--font-size-l);

    &__OP {
      display: flex;
      flex-direction: column;
      align-items: center;

      @include media(tabletAndUp) {
        flex-direction: row;
        gap: .3rem;
      }
    }
  }

  &__friend {
    color: var(--color-text-muted);
    font-size: var(--font-size-xs);
  }
}
