<% if current_user %>
  <header class='navbar'>
    <h1>Post<span>It</span></h1>
    <input type='checkbox' role='button' id='hamburger' class='navbar__checkbox visually-hidden'></input>
    <label class='navbar__toggle' for='hamburger'>
      <span class='navbar__toggle-icon' aria-hidden='true'>
      </span>
      <span class='visually-hidden'>Menu</span>
    </label>
      <div class='navbar__links'>
        <%= link_to 'Home', root_path, class:'navbar__link' %>
        <%= link_to 'Profile', edit_user_registration_path, class:'navbar__link' %>
        <a class='navbar__link'>
          <%= link_to 'Log out', destroy_user_session_path, class:'btn btn--primary', method: :delete  %>
        </a>
      </div>
  </header>
<% end %>
