<header class='navbar'>
  <h1>PostIt</h1>
  <input type='checkbox' role='button' id='hamburger' class='navbar__checkbox visually-hidden'></input>
  <label class='navbar__toggle' for='hamburger'>
    <span class='navbar__toggle-icon' aria-hidden='true'>
    </span>
    <span class='visually-hidden'>Menu</span>
  </label>
  <div class='navbar__links'>
    <a class='navbar__link'>siema</a>
    <a class='navbar__link'>elo</a>
    <a class='navbar__link'>yo</a>
  </div>
</header>
